<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link href="../../css/bootstrap.min.css" rel="stylesheet">
        <title>WinRemoteEnum</title>
    </head>
    <body>
        <div class="container mt-5">
            <h1>WinRemoteEnum</h1>
            <hr/>
            <div class="row mt-4">
                <h2>Modules</h2>
                <div class="col col-3">
                    <ul class="list-group mt-3">
                        $MODULES
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>